html, body, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  background: black;
  font-family: Verdana;
  overflow: hidden;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  }

.particles-js-canvas-el{
  position:absolute;

  }

#container{
  width: 30%;
  margin: auto;
  /*padding: 30px 30px 15px 30px;*/
  border: 30px solid #f1f1f1;
  background: #f1f1f1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  opacity: .9;
  border-radius: 10px;
  z-index: 2;
}

form {
  width:100%;
  margin: auto;
  -webkit-overflow-scrolling: none;
  display: flex;
  flex-direction: column;
}
#container h1{
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  -webkit-appearance: none !important;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-appearance: none !important;
}

input[type=submit] {
  background-color: #53af57;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  -webkit-appearance: none !important;
}

#rememberme {
  flex-direction: row;
  color: rgb(87, 85, 85);
  padding: 10px;
}
    
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  color: rgb(87, 85, 85);;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-appearance: none !important;
}