html, body{
background: black;
font-family: Verdana;
color: blue;
overflow: hidden;
user-select: none;
-webkit-user-select: none;
height: 100%;
width: 100%;
}

#container {
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
}